<section class="page-section" id="about">
    <div class="container">
        <div class="text-center" id="serve">
            <h2 class="section-heading text-uppercase" ><strong>Our Services</strong></h2>
            <br>
            <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://i.imgur.com/6NKPrhO.png" alt=""></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading"><strong>FOOD SUPPLIES</strong></h4>
                    </div>
                    <br>
                    <div class="timeline-body">
                        <p class="text-muted">
                            Our food supply and integrity services provide a breadth of expertise not usually included in service offerings to address the urgent need for a fully integrated food trust assurance, tax and consulting business.
                            <br>
                            <br>
                            We welcome the opportunity to talk to you about how we can put our many years of experience, knowledge and relationships to work for your benefit. Together, we’ll help you give people greater trust in your food.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://i.imgur.com/KMbnpFF.png" alt=""></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading"><strong>CAR SALES</strong></h4>
                    </div>
                    <br>
                    <div class="timeline-body">
                        <p class="text-muted">
                            We offer a wide selection of competitively priced, quality vehicles, featuring many different popular makes and models including Mercedes, BMW, Audi, Volkswagen and Toyota. Our vehicles are always presented to the highest possible standard and backed up by the most comprehensive after sales service found anywhere. You will always be greeted by our friendly and knowledgeable staff, who are only too happy to assist in anyway that they can to make purchasing a car an easy and enjoyable experience.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://i.imgur.com/AgyneKA.png" alt=""></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading"><strong>BUILDING MATERIALS</strong></h4>
                    </div>
                    <br>
                    <div class="timeline-body">
                        <p class="text-muted">
                            We know how hard you work. That's why we only carry the best tools, hardware and supplies to help you get the job done. Whether it's finding the right materials or getting expert advice, you know what works best for you and your project. We take our role as your supplier seriously. That's why our customers continue to come back.
                         </p>
                        </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br>
                        Of Our
                        <br>
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>